Loja do Duke/bin/Debug/net5.0/Loja do Duke.Views.dll
Loja do Duke/bin/Debug/net5.0/Loja do Duke.Views.pdb
.vs/Loja do Duke/DesignTimeBuild/.dtbcache.v2
.vs/Loja do Duke/v16/.suo
Loja do Duke/bin/Debug/net5.0/Loja do Duke.dll
Loja do Duke/bin/Debug/net5.0/Loja do Duke.pdb
Loja do Duke/bin/Debug/net5.0/ref/Loja do Duke.dll
Loja do Duke/obj/Debug/net5.0/Loja do Duke.Views.dll
Loja do Duke/obj/Debug/net5.0/Loja do Duke.Views.pdb
Loja do Duke/obj/Debug/net5.0/Loja do Duke.csproj.CoreCompileInputs.cache
Loja do Duke/obj/Debug/net5.0/Loja do Duke.dll
Loja do Duke/obj/Debug/net5.0/Loja do Duke.pdb
Loja do Duke/obj/Debug/net5.0/ref/Loja do Duke.dll