@model Loja_do_Duke.Models.ViewModels.TwoFactorAuthenticationVM

<p>Por favor insira o código abaixo no seu aplicativo de autenticação</p>
<p>@Model.Token</p>
<p>Outra opção é fazer a leitura do QRCode abaixo com seu celular</p>
<div id="qrCode"></div>

<form method="post">
    <input hidden asp-for="Token" />
    <div class="form-group">
        Insira o código: <input type="text" class="form-control" asp-for="Code" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts{
    <script src="~/js/qrcode.js"></script>
    <script type="text/javascript">
    new QRCode(document.getElementById("qrCode"), "@Model.QRCodeUrl")
    </script>
}
