@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var twoFactor = ViewData["TwoFactorEnabled"];
        if (null != twoFactor && twoFactor.ToString().ToLower() == "true")
        {
            <a asp-action="RemoveAuthenticator" asp-controller="Account" class="btn btn-warning">Remover e reativar autenticação de dois fatores.</a>
        }
        else
        {
            <a asp-action="EnableAuthenticator" asp-controller="Account">Ativar autenticação de dois fatores</a>
        }

        <br /><br />@if (User.IsInRole("Admin"))
        {
            <h2>Seu nível de autorização é - Administrador</h2>
        }
        else
        {
            <h2>Seu nível de autorização é - Usuário</h2>
        }
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
