@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Lista de Roles</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Upsert" asp-controller="Roles" class="btn btn-primary">Criar nova Role</a>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Any())
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>ID</th>
                <th>Nome</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td></td>
                </tr>
            }
        </table>
    }
</div>
